<div class="row" style="margin-right: 0px!important; margin-left: 0px!important;">
  <div class="col-md-2 col-lg-2 col-sm-12 py-4">
    <div class="form-group">
      <input #input type="text" name="folio" id="folio" class="form-control" placeholder="Ingrese Folio" (keyup.enter)="obtenerPartidas()">
    </div>
  </div>
  <div class="col-md-10 col-lg-10 col-sm-12"></div>
  <div class="col-md-12 col-lg-12 col-sm-12" *ngIf="partidas.length === 0">
    <h1>Sin Partidas a imprimir</h1>
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12" *ngIf="partidas.length > 0">
    <h3>Pedido: {{folio}}</h3>
    <div class="row">
      <div class="col-md-4 text-center" *ngFor="let p of partidas">
        <div class="card">
          <div class="card-body">
            <div [id]="'print-section'+p.codigo">
              <h2>{{p.serie}}-{{p.folio}}</h2>
              <h6>{{p.articulo}}</h6>
              <ngx-barcode
                [bc-value]="textCodBar(p)"
                [bc-element-type]="elementType"
                [bc-format]="format"
                [bc-line-color]="lineColor"
                [bc-width]="width"
                [bc-height]="height"
                [bc-display-value]="displayValue"
                [bc-font-options]="fontOptions"
                [bc-font]="font"
                [bc-text-align]="textAlign"
                [bc-text-position]="textPosition"
                [bc-text-margin]="textMargin"
                [bc-font-size]="fontSize"
                [bc-background]="background"
                [bc-margin]="margin"
                [bc-margin-top]="marginTop"
                [bc-margin-bottom]="marginBottom"
                [bc-margin-left]="marginLeft"
                [bc-margin-right]="marginRight"></ngx-barcode>
                <h3>Código: {{p.codigo}}</h3>
                <h3>Clave: {{p.clave}}</h3>
            </div>
            <!-- <span class="text-center">
              Solicitó
              <br>
              <span class="display-4 font-weight-bold">{{p.cantsol}}</span>
            </span>
            <input type="number" id="newcant" name="newcant" class="form-control text-center font-weight-bold mb-2" [value]="p.cantsol">
            <span class="text-center">
                Existencias
              <br>
              <span class="display-4 font-weight-bold">{{p.existencia}}</span>
            </span>
            <input type="number" id="newexist" name="newexist" class="form-control text-center font-weight-bold" [value]="p.existencia"> -->
            <hr class="mt-2">
            <button class="btn btn-primary" [useExistingCss]="useExistingCss" [printSectionId]="'print-section'+p.codigo" ngxPrint>Imprimir</button>
            <!-- <button class="btn btn-primary" [id]="'print-section'+p.codigo" (click)="imprimiCode(p)">Imprimir</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>